/*=========Body=========*/

body{
    background-image: url("../front/assets/img/rz-fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*=========Footer=========*/

footer {
    background-color: rgba(224, 142, 10, 0.527);
    width: 100%;
}
/*=========Navbar=========*/

.navbar{
    background: rgba(224, 142, 10, 0.527);
    color: white;
}
.img-brand{
    zoom: 29%;
}
.navbar .login{
    color: white;
    background-color: rgb(39, 127, 175);
}
.navbar .logout{
    color: white;
    background-color: rgb(161, 30, 30);
}
.offcanvas-header{
    background: rgba(224, 142, 10, 0.527);
}
.offcanvas-body{
    background-image: url("../front/assets/img/rz-fondo-navbar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*==========Login========*/

.login-container{
    width: 40%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.login-container h2{
    font-size: 55px;
    text-align: center;
    align-items: center;
    margin-top: 20%;
}
.login-container .btn{
    background-color: rgb(39, 127, 175);
    color: white;
    margin-bottom: 5%;
}
.form-container {
    background-color: rgba(224, 142, 10, 0.527);
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 10% ;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container link{
    color:rgb(39, 127, 175);
}



/*======Register=======*/
.register-container{
    width: 40%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.register-container h2{
    font-size: 55px;
    text-align: center;
    align-items: center;
    margin-top: 20%;
    
}
.register-container .btn{
    background-color: rgb(39, 127, 175);
    color: white;
    margin-bottom: 5%;
}
.register-form-container {
    background-color: rgba(224, 142, 10, 0.527);
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 10% ;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.register-form-container link{
    color:rgb(39, 127, 175);
}

/*===========Home==========*/
.img-pin{
    zoom: 25%;
}
.color-rz{
   color:rgb(39, 127, 175); 
}
.home-container{
    background-color: rgba(224, 142, 10, 0.329);
    border-radius: 15px;
    padding: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*==========RZElection========*/
.card .btn{
    background-color: rgb(39, 127, 175);
    color: white;
    margin-bottom: 5%;
}
.card h3, h5 {
    color: rgb(224, 142, 10);
}
.card-body  h6{
    color: rgb(170, 110, 14);
}